#nav {
	width: 100%;
	background-color: $nav-color;
	height: 65px;
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.left {
		display: flex;
		align-items: center;
		color: $lightgray;
		cursor: pointer;
		p {
			font-size: 30px;
		}
	}
}
.neon-btn {
	transition: all 0.15s ease-in;
	color: $btn-blue;
	&:hover {
		background-color: $btn-blue;
		box-shadow: 0 0 20px $btn-blue, 0 0 30px $btn-blue, 0 0 40px $btn-blue, 0 0 50px $btn-blue;
		color: $lightgray;
	}
	span {
		position: absolute;
		border-radius: 50%;
		background-color: $btn-blue;
		opacity: 1;
		//top-left
		&:nth-child(1) {
			left: -100%;
			top: 0;
			width: 100%;
			height: 2px;
			animation: first-child 1s ease-in infinite;
		}
		//bottom-left
		&:nth-child(2) {
			left: 0;
			bottom: -100%;
			width: 3px;
			height: 100%;
			animation: second-child 0.8s ease-in infinite;
		}
		//bottom-right
		&:nth-child(3) {
			right: -100%;
			bottom: 0;
			width: 100%;
			height: 3px;
			animation: third-child 1s ease-in infinite;
		}
		//top-right
		&:nth-child(4) {
			top: -100%;
			right: 0;
			height: 100%;
			width: 3px;
			animation: forth-child 0.8s ease-in infinite;
		}
	}
}

.btn {
	background-color: transparent;
	padding: 10px 20px;
	cursor: pointer;
	position: relative;
	outline: none;
	overflow: hidden;
	letter-spacing: 1.2px;
	border: none;
	font-size: 1.1rem;
}
@keyframes first-child {
	from {
		left: -100%;
		opacity: 1;
	}
	to {
		left: 100%;
		opacity: 0;
	}
}
@keyframes second-child {
	from {
		top: 100%;
		opacity: 1;
	}
	to {
		top: -100%;
		opacity: 0;
	}
}
@keyframes third-child {
	from {
		right: -100%;
		opacity: 1;
	}
	to {
		right: 100%;
		opacity: 0;
	}
}
@keyframes forth-child {
	from {
		top: -100%;
		opacity: 1;
	}
	to {
		top: 100%;
		opacity: 0;
	}
}
