main {
	section {
		padding: 15px;
		background-color: $nav-color;
		color: $lightgray;
		margin: 2rem 0;
		h3 span {
			padding: 5px 10px;
			background-color: lighten($primary, 30%);
			border-radius: 20px;
		}
		ul {
			padding: 10px;
			li {
				p {
					text-decoration: none;
					position: relative;
					left: 0;
					color: unset;
					float: left;
					cursor: pointer;
					text-decoration: underline;
				}
			}
		}
	}
}
